<li class="list-group-item">
    {{burger_name}}
    <button class="change-devour btn btn-outline-dark btn-sm list-btn" data-id="{{id}}" data-newdevour="{{devour}}">
        {{#if devoured}}NO THANK YOU!{{else}}NOM NOM{{/if}}
    </button>
    {{!-- <button class="delete-burger" data-id="{{id}}">DELETE!!</button> --}}
</li>